<%= form_tag conversations_path, remote: true do %>
  <%= hidden_field_tag :id, params[:id] if user_to.present? %>
  <%= hidden_field_tag :to, params[:to] if user_to.present? %>
  
  <div class="form-row align-items-center">
    <div class="col-9">
      <label class="sr-only" for="inlineFormInput">Name</label>
      <% if user_to.present? %>
        <%= text_field_tag :content, nil, autocomplete: :off, placeholder: "Type a message", class: "form-control input-chat mb-2" %>
      <% else %>
        <%= text_field_tag :content, nil, disabled: "disabled", class: "form-control mb-2" %>
      <% end %>
    </div>
    <div class="col-3">
      <% if user_to.present? %>
        <%= submit_tag "Send", class: "btn btn-primary mb-2 btn-block" %>
      <% else %>
        <%= button_tag "Send", disabled: "disabled", class: "btn btn-primary mb-2 btn-block" %>
      <% end %>
    </div>
  </div>
<% end %>