<% if messages.present? %>
  <% messages.each do |chat| %>
    <div class="<%= chat.user.phone == user.phone ? 'text-right col-10 offset-2 current-space chat-space' : 'text-left col-10 partner-space chat-space' %>">
      <span><%= chat.created_at.strftime("%b, %d %Y %H:%M") %></span><hr>
      <%= chat.content %>
    </div>
  <% end %>
<% end %>