<% if recent.present? %>
  <% recent.each do |data| %>
    <%= link_to conversations_path(id: user.phone, to: data['phone']), method: :get, class: "btn btn-light btn-block btn-contact" do %>
      <div class="avatar"><%= avatar_image(data['name'], size: 40) %></div>
      <div class="phone text-ellipsis"><%= data['phone'] %></div>
      <div class="name blockquote-footer text-ellipsis"><%= data['name'] %></div>
      <div id="chat-recent recent-for-<%= data['id'] %>" class="recent text-ellipsis">
        <%= data['recent']['created_at'].to_datetime.strftime("%d %b") %> - <%= truncate(data['recent']['content'], length: 40) %>
      </div>
    <% end %>
  <% end %>
<% end %>