<div class="row">
  <div class="col-3">
    <ul class="nav nav-pills nav-justified" id="sidebarTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Chat</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Contact</a>
      </li>
    </ul>

    <div class="tab-content" id="sidebarTabContent">
      <div id="recent-list" class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <%= render partial: "conversations/recent", locals: { recent: @recent, user: @user } %>
      </div>
      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <% @users.each do |user| %>
          <%= link_to conversations_path(id: @user.phone, to: user['phone']), method: :get, class: "btn btn-light btn-block btn-contact" do %>
            <div class="phone text-ellipsis"><%= user['phone'] %></div>
            <div class="name blockquote-footer text-ellipsis"><%= user['name'] %></div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-9 pl0">
    <div class="card">
      <div class="card-body">
        <% if @user_to.present? %>
          <h5 class="card-title"><%= @user_to.phone %></h5>
          <h6 class="card-subtitle mb-2 text-muted blockquote-footer"><%= @user_to.name %></h6>
          <hr>
        <% end %>

        <div id="chat-body" class="chat-body">
          <%= render partial: "conversations/messages", locals: { messages: @messages, user: @user } %>
        </div>

        <div id="chat-form" class="chat-form">
          <%= render partial: "conversations/form", locals: { params: params, user_to: @user_to } %>
        </div>
      </div>
    </div>
  </div>
</div>