$("#recent-list").html("<%= j render partial: 'conversations/recent', locals: { recent: @recent, user: @user } %>");
$("#chat-body").html("<%= j render partial: 'conversations/messages', locals: { messages: @messages, user: @user } %>");
$("#chat-form").html("<%= j render partial: 'conversations/form', locals: { params: params, user_to: @user_to } %>");
$('#chat-body').scrollTop($('#chat-body')[0].scrollHeight);