<!DOCTYPE html>
<html>
  <head>
    <title>Action Cable Signaling Server</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= csrf_meta_tags %>

    <%= javascript_include_tag 'application_rtc' %>
  </head>

  <body>
    <h1>Action Cable Signaling Server</h1>

    <div>Random User ID:
      <span id="current-user"><%= @random_number %></span>
    </div>

    <div id="remote-video-container"></div>
    <video id="local-video" autoplay></video>

    <hr />

    <button onclick="handleJoinSession()">
      Join Room
    </button>

    <button onclick="handleLeaveSession()">
      Leave Room
    </button>
  </body>
</html>

