<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <title>Action Cable Signaling Server</title>
    <%= javascript_include_tag "application" %>
  </head>

  <body>
    <h1>Action Cable Signaling Server</h1>
    <div>
      User ID :
      <strong>
        <i>
          <span id="current-user"><%= @random_number %></span>
        </i>
      </strong>
    </div>

    <hr>
    <button onclick="handleJoinSession()">Broadcast Live Streaming</button>
    <button onclick="handleLeaveSession()">Stop Live Streaming</button>
    <hr>

    <video id="local-video" style="height: 200px" autoplay></video>
    <div id="user-streamer"></div>

    <script type="text/javascript">
      const BROADCAST = "BROADCAST";
      const TRANSMISSION = "TRANSMISSION";
      const STOP_BROADCAST = "STOP_BROADCAST";

      let currentUser;
      let localVideo;

      let pcPeers = {};
      let localstream;

      currentUser = document.getElementById("current-user").innerHTML;
      userStreamer = document.getElementById("user-streamer");
      localVideo = document.getElementById("local-video");

      const ice = { iceServers: [{
        urls: [ 'stun:stun.l.google.com:19302',
          'stun:stun1.l.google.com:19302',
          'stun:stun2.l.google.com:19302',
          'stun:stun.l.google.com:19302?transport=udp' ]
        }]
      };

      const handleJoinSession = async () => {
        navigator.mediaDevices.getUserMedia({
          audio: false, video: true
        }).then(stream => {
          localstream = stream;
          localVideo.srcObject = stream;
          localVideo.muted = false;
        }).catch(logError);

        App.session = await App.cable.subscriptions.create("LiveChannel", {
          connected: () => {
            broadcastData({
              type: BROADCAST,
              from: currentUser
            });
          },
          received: data => {
            if (data.from === currentUser) return;
            switch (data.type) {
              case BROADCAST:
                return joinRoom(data);
              case TRANSMISSION:
                if (data.to !== currentUser) return;
                return exchange(data);
              case STOP_BROADCAST:
                return removeUser(data);
              default:
                return;
            }
          }
        });
      };

      const handleLeaveSession = () => {
        for (user in pcPeers) {
          pcPeers[user].close();
        } pcPeers = {};

        App.session.unsubscribe();

        broadcastData({
          type: STOP_BROADCAST,
          from: currentUser
        });

        window.location.reload();
      };

      const joinRoom = data => { createPC(data.from, true) };
      const removeUser = data => { delete pcPeers[data.from] };

      const createPC = (userId, isOffer) => {
        let pc = new RTCPeerConnection(ice);
        pcPeers[userId] = pc;
        pc.addStream(localstream);

        isOffer && pc.createOffer().then(offer => {
          return pc.setLocalDescription(offer);
        }).then(() => {
          broadcastData({
            type: TRANSMISSION,
            from: currentUser,
            to: userId,
            sdp: JSON.stringify(pc.localDescription)
          });
        }).catch(logError);

        pc.onicecandidate = event => {
          event.candidate && broadcastData({
            type: TRANSMISSION,
            from: currentUser,
            to: userId,
            candidate: JSON.stringify(event.candidate)
          });
        };

        pc.onaddstream = event => {
          streamerOnline = "<a style='margin-right: 10px'>" + userId + "is online</a>";
          userStreamer.appendChild(streamerOnline);
        };

        pc.oniceconnectionstatechange = event => {
          if (pc.iceConnectionState == "disconnected") {
            broadcastData({
              type: STOP_BROADCAST,
              from: userId
            });
          }
        };

        return pc;
      };

      const exchange = data => {
        let pc;

        if (!pcPeers[data.from]) {
          pc = createPC(data.from, false);
        } else { pc = pcPeers[data.from] }

        if (data.candidate) {
          data_candidate = JSON.parse(data.candidate);
          pc.addIceCandidate(new RTCIceCandidate(data_candidate)).catch(logError);
        }

        if (data.sdp) {
          sdp = JSON.parse(data.sdp);
          pc.setRemoteDescription(new RTCSessionDescription(sdp)).then(() => {
            if (sdp.type === "offer") {
              pc.createAnswer().then(answer => {
                return pc.setLocalDescription(answer);
              }).then(()=> {
                broadcastData({
                  type: TRANSMISSION,
                  from: currentUser,
                  to: data.from,
                  sdp: JSON.stringify(pc.localDescription)
                });
              });
            }
          }).catch(logError);
        }
      };

      const broadcastData = data => {
        fetch("synchronization", {
          method: "POST",
          body: JSON.stringify(data),
          headers: { "content-type": "application/json" }
        });
      };

      const logError = error => console.warn("Whoops! Error:", error);
    </script>
  </body>
</html>

