<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">User Account</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each_with_index do |user, index| %>
      <tr>
        <th scope="row">
          <%= index + 1 %>.
        </th>
        <td>
          <div class="avatar"><%= avatar_image(user, size: 40) %></div>
          <div><%= user.phone %></div>
          <div class="blockquote-footer"><%= user.name %></div>
        </td>
        <td>
          <%= link_to 'Go to Chat', conversations_path(id: user.phone), class: "btn btn-primary btn-sm" %>
          <%= link_to 'Edit Data', edit_user_path(user), class: "btn btn-primary btn-sm" %>
          <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary btn-sm" %>
        </td>
      </tr>
    <% end %>
    <tr>
      <td colspan="3" class="text-right">
        <%= link_to "Add New User", new_user_path, class: "btn btn-success" %>
      </td>
    </tr>
  </tbody>
</table>
