<%= form_with(model: message_group, local: true) do |form| %>
  <% if message_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(message_group.errors.count, "error") %> prohibited this message_group from being saved:</h2>

      <ul>
      <% message_group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :group_id %>
    <%= form.number_field :group_id %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
