<p id="notice"><%= notice %></p>

<h1>Message Groups</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Group</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @message_groups.each do |message_group| %>
      <tr>
        <td><%= message_group.user_id %></td>
        <td><%= message_group.group_id %></td>
        <td><%= message_group.content %></td>
        <td><%= link_to 'Show', message_group %></td>
        <td><%= link_to 'Edit', edit_message_group_path(message_group) %></td>
        <td><%= link_to 'Destroy', message_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Message Group', new_message_group_path %>
