<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @message_group.user_id %>
</p>

<p>
  <strong>Group:</strong>
  <%= @message_group.group_id %>
</p>

<p>
  <strong>Content:</strong>
  <%= @message_group.content %>
</p>

<%= link_to 'Edit', edit_message_group_path(@message_group) %> |
<%= link_to 'Back', message_groups_path %>
