%nav.navbar.navbar-light.bg-blue-light
  .container
    %a.navbar-brand.navbar-brand-costum
      = image_tag "logo.png", height: 40
      ChatU

.container.init-card
  .card
    .card-body
      .head-chat
        .row
          .col-4
            .avatar-user
              = image_tag @datas[:user][:avatar]
            .info-user
              = @datas[:user][:name]
              .span-user
                = @datas[:user][:phone]
          .col-8
            .row
              .col-6{:id => 'head-room'}
                = render 'web/partial/head_room'
              .col-6
                .main-menu
                  %a{ :href => web_chats_path }
                    %span.fa.fa-comment
                    = "Chat"
                  %a.active{ :href => web_groups_path }
                    %span.fa.fa-users
                    = "Group"
                  %a{ :href => web_profiles_path }
                    %span.fa.fa-user
                    = "Profile"
      .body-chat
        .row
          .col-4{:id => 'room-content'}
            = render 'web/partial/room_list'
          .col-8{:id => 'chat-content'}
            = render 'web/partial/chat_window'