body{
  background: #fafafa;
}
.init-card {
  .card-body {
    padding:0px;
    background: #f8f8f8;
    height:750px;
    .head-chat {
      padding:20px;
      border-bottom: 1px solid #ccc;
      padding-bottom: 15px;

      .avatar-user {
        float: left;
        margin-right: 10px;

        img {
          border: 1px solid;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          height: 50px;
        }
      }

      .info-user {
        padding-top: 5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        letter-spacing: 0.3px;

        .span-user {
          margin-top: -4px;
          font-size: 13px;
          color: #000000bf;
        }
      }

      .main-menu {
        float: right;
        height: 100%;

        a {
          display: inline-block;
          padding: 13px 16px 13px 13px;
          text-decoration: none;
          color: black;

          &:hover {
            color: #5FD2F6;
          }
        }
        .active{
          color: #5FD2F6;
        }
      }
    }

    .body-chat {
      height: 673px;
      .row {
        height: 100%;

        .col-4 {
          height: 100%;
          padding:0px;
          .chat-room {
            padding: 0px;
            padding-left:15px;
            height: 100%;

            :hover{
              text-decoration:none;
              background:#ebebeb;
              cursor: pointer;
            }

            .active{
              background:#bebebe;
              :hover{
                text-decoration:none;
                background:#bebebe;
              }
            }

            .chat-item {
              padding: 10px 20px;
              .avatar-user {
                float: left;
                margin-right: 10px;

                img {
                  border: 1px solid;
                  border-radius: 50%;
                  -webkit-border-radius: 50%;
                  -moz-border-radius: 50%;
                  height: 50px;
                }
              }

              .info-user {
                padding-top: 5px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                letter-spacing: 0.3px;

                .span-user {
                  margin-top: -4px;
                  font-size: 13px;
                  color: #000000bf;
                  padding-bottom:10px;
                }

                .time-ago{
                  font-size: 13px;
                  color: #000000bf;
                }
              }

              .separator{
                border-top: 1px solid #bebebe;
              }
            }
          }
        }

        .col-8 {
          height: 100%;
          padding-left:0px;
          .splash-window{
            background: #fdfdfd;
            height: 100%;
            padding-top:100px;

            h1{
              color: #5FD2F6;
              font-weight: 600;
              font-size: 50px;
            }
            p{
              color: #5FD2F6;
              font-weight: 500;
            }
          }

          .chat-window {
            background:#fff;
            height: 100%;

            display: flex;
            flex-direction: column;

            .msg_history {
              height: 100%;
              overflow-y: auto;
              padding: 10px 25px;
              flex: 1;

              .date{
                margin: 20px auto;
                font-size: 14px;
                color: #999;
              }

              .incoming_msg{
                overflow:hidden;
                margin:10px 0 10px;
              }

              .received_msg {
                min-width: 65px;
                max-width: 60%;
                float: left;

                p {
                  background: #ebebeb none repeat scroll 0 0;
                  border-radius: 3px;
                  color: #646464;
                  font-size: 14px;
                  margin: 0;
                  padding: 5px 10px 5px 12px;
                  width: 100%;
                }
                .time_date {
                  color: #646464;
                  display: block;
                  font-size: 11px;
                  margin: 8px 0 0 15px;
                  float:right;
                }
              }

              .outgoing_msg{
                overflow:hidden;
                margin:10px 0 10px;
              }

              .sent_msg {
                float: right;
                max-width: 60%;
                p {
                  background: #05728f none repeat scroll 0 0;
                  border-radius: 3px;
                  font-size: 14px;
                  margin: 0;
                  color:#fff;
                  padding: 5px 10px 5px 12px;
                  width:100%;
                }
                .time_date {
                  color: #fff;
                  display: block;
                  font-size: 11px;
                  margin: 8px 0 0 15px;
                  float:right;
                }
              }
            }

            .chat-bar-ctr{
              padding: 13px 10px 10px 20px;
              background-color:#d4eaff;
              .chat-bar{
                margin:0px;
                width: 100%;
                .one-row{
                  overflow: auto;
                  margin:  0;
                  padding: 5px 15px 5px 15px;
                  border:  0;
                  outline: 0;
                  width: 80%;
                  font-size: 15px;
                  resize: none;
                  height:33px;

                  -webkit-border-radius: 5px;
                  -moz-border-radius: 5px;
                  border-radius: 20px;

                  ::placeholder {
                    color: peachpuff;
                    font-size: 15px;
                  }

                  ::-webkit-scrollbar {
                      width:16px;
                      height:16px;
                      background:inherit;
                  }
                }

                button{
                  width: 15%;
                  position: absolute;
                  right: 30px;
                  bottom: 10px;

                }
              }
            }
          }

        }
      }
    }
  }
}