%nav.navbar.navbar-light.bg-blue-light
  .container
    %a.navbar-brand.navbar-brand-costum
      = image_tag "logo.png", height: 40
      ChatU

.container.init-card
  .card
    .card-body
      .row
        .col-8
          .card-block
            %h3.title
              To use ChatU on your computer :
            %ol
              %li Open ChatU on your phone
              %li Tap menu Settings and select ChatU Web
              %li Point your phone to this screen to capture the code
            %hr
            = link_to "Need help to get started?", "#"
            or
            = link_to "Try new online version?", online_dashboards_path
        .col-4
          = image_tag @qr_code[:data], class: "qr-code"