%nav.navbar.navbar-light.bg-blue-light
  .container
    %a.navbar-brand.navbar-brand-costum
      = image_tag "logo.png", height: 40
      ChatU

.container.init-card
  .card
    .card-body
      .row
        .col-8
          .card-block
            %h3.title
              To use online ChatU on your computer :
            %ol
              %li Type your phone number
              %li Invite friend to join
            %hr
            = link_to "Go back", root_path
        .col-4
          .form-box
            = form_tag dashboards_path do
              .form-group
                = label_tag :phone, "Phone Number :"
                = number_field_tag :phone, nil, placeholder: "Phone Number", class: "form-control"
              .form-group
                = label_tag :name, "Your Name :"
                = text_field_tag :name, nil, placeholder: "Your Name", class: "form-control"
              .form-group.text-right
                = submit_tag "Sign in now", class: "btn btn-info"