%nav.navbar.navbar-light.bg-blue-light
  .container
    %a.navbar-brand.navbar-brand-costum
      = image_tag "logo.png", height: 40
      ChatU

.container.init-card
  .card
    .card-body
      %table.table.table-striped
        %thead
          %tr
            %th{scope: "col", colspan: 3}
              %button.btn.btn-primary{"data-target" => "#addCategory", "data-toggle" => "modal", type: "button"}
                Add Category
          %tr
            %th{scope: "col"} #
            %th{scope: "col"} Name
            %th{scope: "col"} Parent
        %tbody
          - @categories.each_with_index do |category, index|
            %tr
              %th{scope: "row"}
                = index + 1
              %td
                = category.name
              %td
                = category.parent

#addCategory.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "addCategoryLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog{role: "document"}
    .modal-content
      .modal-header
        %h5#addCategoryLabel.modal-title Add New Category
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        = form_tag admin_categories_path do
          - if @categories.present?
            .form-group
              = label_tag :parent_id, "Parent Category"
              = select_tag :parent_id, options_from_collection_for_select(@categories, :id, :name), prompt: "Select category", class: "form-control"
          .form-group
            = label_tag :name, "Category Name"
            = text_field_tag :name, nil, autocomplete: :off, class: "form-control"

          = submit_tag "Save", class: "btn btn-primary"

      .modal-footer
        %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Close