- if @target.present?
  .chat-window
    .msg_history{:id => 'message-'+@room[:user][:phone]}
      - if @room.present?
        - date = nil
        - @room[:chats].each do |chat|
          - if date != chat[:created_at].to_date
            .date.text-center
              = (chat[:created_at].to_date).strftime("%A, %B %d, %Y")
            - date = chat[:created_at].to_date
          - if @room[:user][:phone]!=chat[:phone]
            .outgoing_msg
              .sent_msg
                %p
                  = chat[:content] ? chat[:content].html_safe : '&nbsp;'.html_safe
                  %span.time_date= ((chat[:created_at].to_time).strftime("%I:%M%p")).to_s
          - else
            .incoming_msg
              .received_msg
                %p
                  = chat[:content] ? chat[:content].html_safe : '&nbsp;'.html_safe
                  %span.time_date= ((chat[:created_at].to_time).strftime("%I:%M%p")).to_s
    .chat-bar-ctr
      .chat-bar{:id => 'ta-frame'}
        = hidden_field_tag :phon, @room[:user][:phone], id: "target-phone"
        = text_area_tag :chat, nil, autocomplete: :off, id: "content-chat", class: "one-row form-control float-left", rows: "1", placeholder: "Type a message"
        %button.btn.btn-primary.btn-sm{:onclick => "send('#{@room[:user][:phone]}')"}
          = "Send"
-else
  .splash-window
    %h1.text-center
      = "ChatU"
    %p.text-center
      = "Start to connect now"

:javascript
  var div = document.querySelector('#ta-frame');
  var ta =  document.querySelector('#content-chat');

  $('#content-chat').on('keydown', function(event) {
    if (event.keyCode == 13){
      if (!event.shiftKey){
        if($('#content-chat').val().replace(/\n/g, "")===''){
          event.preventDefault();
        }else{
          
          send($('#target-phone').val());
        }
      }else{ autosize(); }
    }else{ autosize(); }
  });

  function autosize() {
    setTimeout(function() {
      ta. style.cssText = 'height:0px';
      var height = Math.min(20 * 4, ta.scrollHeight);
      div.style.cssText = 'height:' + height + 'px';
      ta. style.cssText = 'height:' + height + 'px';
      $('.msg_history').scrollTop($('.msg_history')[0].scrollHeight - $('.msg_history')[0].clientHeight);
    },0);
  }