.chat-room
  - @datas[:chat_rooms].each do |room|
    %div.chat-item{ class: (( (@room[:user][:phone]==room[:recent_chat][:phone]) ? "active" : "") if @room.present? ), :id=> 'room-'+room[:recent_chat][:phone], :data => {:target_phone => room[:recent_chat][:phone]} }
      .avatar-user
        = image_tag room[:recent_chat][:avatar]
      .info-user
        = room[:recent_chat][:user]
        - if room[:recent_chat][:content].present?
          .span-user
            -# = icon("fas", "check")
            %span{:id => 'recent-'+room[:recent_chat][:phone]}
              = strip_tags(room[:recent_chat][:content])
            %span.float-right{:id => 'rdate-'+room[:recent_chat][:phone]}
              = ((room[:recent_chat][:created_at].to_time).strftime("%I:%M%p")).to_s
      .clear
    .separator