.bg-blue-light { background-color: #d4eaff !important }

.navbar {
  padding-bottom: 100px;

  .navbar-brand-costum {
    text-shadow: 0 0 1px #000;
    letter-spacing: 0.6px
  }
}

.init-card {
  margin-top: -90px;
  height: 80vh;
  min-height: 80vh;
  max-height: 80vh;

  .card {
    height: 100%;

    .card-block {
      padding: 30px;

      .title {
        text-shadow: 0 0 1px #000;
        letter-spacing: 0.5px;
      }

      ol {
        margin: 40px 20px;

        li {
          margin-bottom: 15px;
          letter-spacing: 0.4px;
          text-shadow: 0 0 1px #999;
          font-size: 19px;
        }
      }
    }

    .form-box {
      padding: 25px;
      background-color: #d4eaff;
      border-radius: 2px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
    }

    .qr-code {
      width: 100%;
    }
  }
}

.qr-code {
  table {
    border-width: 0;
    border-style: none;
    border-color: #0000ff;
    border-collapse: collapse;
  }

  td {
    border-left: solid 10px #000;
    padding: 0; 
    margin: 0; 
    width: 0px; 
    height: 10px; 
  }

  td.black { border-color: #000; }
  td.white { border-color: #fff; }
}