<div class="row footer">
  <div class="col-6 text-left">
    <p>Copyright &copy; 2019 PT. Daya Cipta Sempurna</p>
  </div>
  <div class="col-6 text-right">
    <p>Your IP <%= request.remote_ip %></p>
  </div>
</div>