<!DOCTYPE html>
<html>
  <head>
    <title>Web Yobagi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "bootstrap-solid.svg", width: 30, height: 30, class: "d-inline-block align-top" %> Yobagi
      <% end %>

      <% if controller_name == "conversations" %>
        <span class="navbar-text current-user-info">
          <%= @user.phone %><br>
          <%= @user.name %>
        </span>
      <% end %>
    </nav>

    <div class="container-fluid">
      <%= yield %>
    </div>

    <%= render "layouts/partials/footer" %>

    <script type="text/javascript">
      $( document ).ready(function() {
        $(".initialjs-avatar").initial();
        $("#chat-body").scrollTop($("#chat-body")[0].scrollHeight);
      });
    </script>
  </body>
</html>
